.BackgroundOpacity {
  background: rgba(245, 245, 245, .8);
  width: 100vw;
  height: 100vh;
}

#modal {
  outline: none;
  border: none;
}

.content {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: none;
  display: flex;
  background-color: transparent;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.body {
  background-color: transparent;
  text-align: center;
  align-self: center;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  color: #48484a;
  padding-top: 30px;
  width: 270px;
}

.h3 {
  font-family: "Montserrat";
  color: #48484a;
  font-weight: 600;
  font-size: 30px;
  line-height: 49px;
}

.form {
  width: 270px;
  margin: 30px auto;
}

@media screen and (max-width: 360px) {
  .dialog {
    min-width: 80px;
  }
}

@media screen and (min-width: 360px) {
  .dialog {
    width: 380px;
  }
}
