.WwcBackground {
  background: url(../../images/loginBG.jpg) center/cover no-repeat fixed;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

@media (max-width: 767px) {
  .WwcBackground-opacity {
    background-color: rgba(245, 245, 245, 0.8);
  }

  .WwcLogo {
    left: 10vw;
    top: 6vh;
  }
}

@media (max-width: 991px) {
  .WwcLogo {
    left: 10vw;
    top: 6vh;
  }
}
