.message-box {
  width: 100%;
  max-width: 448px;
  height: 100%;
  max-height: 95px;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #000000;
  margin: 15px auto;
}

.message-box-instructions {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  max-width: 100%;
  border-style: none;
  background-color: #fff;
}
.message-box-instructions h5 {
  margin: 2.3em 1.3em 1em;
  font-weight: 700;
}

.message-box-instructions ul {
  padding-inline-start: 3em;
  width: 90%;
  margin-bottom: 2rem;
}

.message-box.success {
  border: 1px solid #007a7c;
}

.message-box.error {
  border: 1px solid #ff0202;
  padding: 10px;
  height: auto;
}

.message-box .title {
  font-weight: bolder;
  font-size: 18px;
  line-height: 25px;
}

.message-box.success .title {
  color: #007a7c;
}

.message-box .message {
  font-size: 14px;
  line-height: 17px;
  white-space: pre-line;
  text-align: center;
  padding: 5px;
}

@media only screen and (max-width: 576px) {
  .message-box {
    width: 100%;
    max-width: 270px;
    height: 100%;
    max-height: 121px;
  }
}
