
.label{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 0;
  margin-top: 10px;
  color: #48484a;
}

.pwd-input-group {
	margin-bottom: 10px;
}

.input-pwd{
  border-right: none !important;
  border-top: 1px solid #48484a;
  border-left: 1px solid #48484a;
  border-bottom: 1px solid #48484a;
  border-radius: unset;
}

.show-hide {
  background-color: white;
  border-left: none;
  border-top: 1px solid #48484a;
  border-right: 1px solid #48484a;
  border-bottom: 1px solid #48484a;
  font-size: 0.85rem;
  cursor: pointer;
  color: #007a7c;
  text-transform: uppercase;
  text-decoration: underline;
  border-radius: unset;
}

aside{
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 22px;
}

.display-block{
  display: block;
}

.display-none{
  display: none;
}

.validation-img{
	width: 17.5px;
	height: 17.5px;
}

.pwddesc{
	margin-left: 10px;
}

@media only screen and (max-width: 450px) {

	aside{
		font-size: 14px;
		line-height: 19px;
	}

	.pwd-input-group {
		margin-bottom: 5px;
	}

	.validation-img{
		width: 15.37px;
		height: 15.37px;
	}

	.Password aside span{
		font-size: 12px;
	}

}
