.validations{
	min-width: 200%;
}

.label{
  font-size: 16px;
  line-height: 16px;
}

aside{
	width: 261px;
	float: right;
	margin-top: -34px;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 22px;
	padding-left: 5%;
}

aside img{
	width: 17.5px;
	height: 17.5px;
}

.pwddesc{
	margin-left: 10px;
}

@media (max-width: 450px) and (max-height: 840px) {


	.validations {
		width: 100%;
	}

	aside{
		float: none;
		font-weight: normal;
		font-size: 14px;
		line-height: 19px;
		margin-top: 5px;
		padding-left:unset;
	}

	.Password aside img{
		width: 15.37px;
		height: 15.37px;
	}

	.Password aside span{
		font-size: 12px;
	}

}
