.home-container {
  padding-top: 47px;
}

/* Group/Card/home-card */
.home-card {
  width: 320px;
  height: 232px;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 47px;
}

.home-card:hover{
  cursor: pointer;
}

/* anna-earl-J-Jb1niw1j0-unsplash */
.cardimgtop {
  width: 100%;
  height: 176px;
  
}

/* Note: The class names must match the teams data from the WWC API */

.chapter-members  .cardimgtop{
  background: url(../../images/chapter-members.png);
}

.social-media .cardimgtop {
  background: url(../../images/social-media.png);
}

.tech-bloggers .cardimgtop {
  background: url(../../images/tech-bloggers.png);
}

.tech-event-volunteers .cardimgtop {
  background: url(../../images/tech-event-volunteers.png);
}

.cardbody {
  width: 100%;
  height: 56px;
  background-color: #FFF;
   /* Chapter Members */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  /* Input/StrokeWWCode-Gray */
  color: #333333;
  text-align: center;
}

@media only screen and (max-width: 768px) {

  .home-container {
    padding-top: 25px;
  }

  .home-card {
    width: 95%;
    height: 211px;
  }

  .cardimgtop {
    width: 100%;
    height: 160px;
  }

  .cardbody {
    height: 51px;
  }
}