.input-container {
    margin-bottom: 35px;
}

.input-label {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    color: #48484A;
}

.input-text {
    width: 100%;
}

@media only screen and (max-width: 576px) {
    .input-container {
        margin-top: 10px;
    }
}