.ResetPassword{
    position: relative;
    text-align:center;
    margin: 0 20%;
}

.title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #48484A;
    /* padding: 30% 0 10%; */
    padding: 25% 0 25px;
}

.passwordForm{
    width: 50%;
    max-width: 300px;
    margin: auto;
    text-align: left;
}

.aside{
    padding: 2%;
}

.btn {
  width: 120px;
  height: 39px;
  border-radius: 5px;
  background-color: #007a7c;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  margin: 25px auto;
}

.btn:disabled {
  background: #a1a4b1;
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .title{
    font-size: 18px;
    line-height: 22px;
  }

  .passwordForm {
    width: 100%;
  }
}
