.membercard {
    width: 235px;
    height: 263px;
    max-width: 235px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding-left: 0;
    padding-right: 0;
}

.membercard:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

.membercard-top {
    height: 64px;
    width: 216px;
}

.membercard-status {
    font-size: 14px;
    text-transform: capitalize;
}

.membercard-status:before {
    content: "\2605";
    color: #333333;
}

.membercard-status.active:before {
    color: #007D7F;
}

.membercard-img {
    height: 112px;
}

.membercard-team {
    font-size: 14px;
    line-height: 20px;
    font-weight: bolder;
}

.membercard-team.noteam {
    color: #828282;
    font-weight: normal;
}

.membercard-team .multi-dots {
    display: inline-block;
    color: #6B3768;
    font-weight: 900;
    margin-left: 0.2em;
}

.membercard-bottom {
    height: 87px;
    width: 223px;
    font-size: 12px;
}

.membercard-type {
    text-transform: capitalize;
}

.membercard-bottom .membercard-type {
    font-size: 14px;
    font-weight: bolder;
}

.membercard-name-tooltip {
    width: 235px;
    background: #FFFFFF !important;
    color: #333333 !important;
    font-size: 16px !important;
    box-shadow: 0px 4px 8px rgba(130, 130, 130, 0.25);
    padding: 10px !important;
    margin-top: 0 !important;
    position: absolute !important;
    opacity: 1 !important;
}

.membercard-name-tooltip:before, .membercard-name-tooltip:after {
    display: none !important;
}

@media only screen and (max-width: 576px) {
    .membercard {
        width: 100%;
        height: 72px;
        max-width: 100%;
        background-color: #FFFFFF;
    }

    .membercard > div:first-child {
        width: 77px;
        flex: 0 0 77px;
    }

    .membercard > div:last-child {
        width: 70vw;
    }

    .membercard-img {
        height: 36px;
    }

    .membercard-status {
        font-size: 10px;
    }

    .membercard-name {
        font-size: 14px;
    }

    .membercard-type {
        font-size: 12px;
    }

    .membercard-email {
        font-size: 10px;
    }

    .membercard-team {
        font-size: 12px;
        line-height: 16px;
        color: #4F4F4F;
    }
}

