.suggestion-box {
    position: absolute;
    width: 639.12px;
    height: 84px;
    background: #FFFFFF;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 4px 4px;
    z-index: 100;
    overflow-y: scroll;
}

.suggestion-box .hidden {
    display: none;
}

.suggestion-box ul {
    padding-top: 7px;
    list-style-type: none;
    padding-inline-start: 0;
}

.suggestion-box ul li {
    height: 34px;
    padding-inline-start: 10px;
    line-height: 32px;
    font-size: 18px;
    color: #48484A;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.suggestion-box ul li:hover {
    background: rgba(130, 130, 130, 0.25);
}

@media only screen and (max-width: 576px) {
    .suggestion-box {
        width: 186px;
    }

    .suggestion-box ul li {
        height: 32px;
    }
}