.team-home-container {
  position: relative;
  height: 1132px;
  max-height: 1132px;
  overflow-y: hidden;
  width: 1078px;
  margin: 0 auto;
}

.team-home-container-inner {
  height: 1074px;
}

.team-home-tab-container {
  height: 100px;
}

.tab-button {
  min-width: 165px;
  height: 51px;
  padding: 0 15px;
}

.tab-button:focus {
  outline: none;
}

.tab-button > a {
  color: black;
}

.tab-button-selected {
  background: rgba(130, 130, 130, 0.1);
  border-radius :8px;
  outline: none !important;
  cursor: default !important;
}

.team-home-tab-contents {
  position: relative;
  height: 1132px;
  max-height: 1132px;
  overflow-y: hidden;
  width: 1078px;
  margin: 0 auto;
  padding-top: 25px;
}

@media only screen and (max-width: 576px) {
  .team-home-container {
    position: relative;
    /*height: calc(100vh - 60px);
    max-height: calc(100vh - 60px);
    overflow-y: scroll; */
    width: 95vw;
    margin: 0 auto;
    height: auto;
  }

  .team-home-tab-container {
    height: 50px;
  }

  .tab-button {
    min-width: initial;
    height: 20px;
    padding: 3px 6px;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
  }

  .team-home-tab-contents {
    width: auto;
    height: 100%;
    overflow-y: scroll;
    padding-top: 15px;
  }
}